.logo_area img {
  max-height: 100px;
}

.single {
  color: #000;
  font-family: "Droid Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #973056;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #973056;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #973056;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #973056;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #973056;
}

input[type=range]:focus::-ms-fill-upper {
  background: #973056;
}

.bold {
  font-weight: bold;
}

.single-sidebar-dr li a.active {
  color: #973056 !important;
}

.single-sidebar-vg {
  border-left: 1px solid #ccc;
}

#myTabContent #home {
  display: block;
}

#myTabContent .home-tab {
  display: none;
}

#myTabContent .home-tab:first-child {
  display: block;
}

.ov {
  overflow: hidden;
}

.single .container {
  margin-top: 20px;
}

.home-cats {
  background-color: #f2f2f2;
  padding-bottom: 15px;
}

.home-cats .news_heading_2 h3:after {
  left: 0%;
  width: 0;
  content: "";
}

.mt {
  margin-top: 15px;
}

.color1 {
  color: #973056;
}

.color2 {
  color: #5BD2C7;
}

.w3-border {
  border: 1px solid #ccc;
}

.home-cat-item {
  padding-right: 0;
  padding-left: 0;
}

.home-cat-item h4 {
  margin-top: 20px;
}

.bg-secondary {
  background-color: #eee;
  margin-top: 15px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-secondary h1 {
  color: #973056;
  font-family: "Droid Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-item-2 {
  border-left: 1px solid rgba(223, 223, 223, 0.75);
  margin-top: -15px;
  border-bottom: 1px solid rgba(223, 223, 223, 0.75);
}

.product-item-2 .product-title {
  margin: 10px;
  display: block;
}

.product-item-2 .sinle_pic, .product-item-2 .product_content {
  border: 0px  none transparent;
}

.product-item-2 .all-pros-latest {
  border: 1px solid #fff;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.product-item-2 .main-price {
  font-size: 20px;
  color: #973056;
}

.product-item-2 .button_act, .product-item-2 a.add_to_wishlist {
  padding: 5px 10px;
  border: 0px none transparent;
  background: transparent;
  font-size: 18px;
  border-radius: 50%;
  color: #5BD2C7;
}

.product-item-2 .button_act:hover, .product-item-2 a.add_to_wishlist:hover {
  background: #ccc;
  color: #973056;
}

.product-item-2 .button_act i, .product-item-2 a.add_to_wishlist i {
  display: inline-block;
  position: relative;
  top: -4px;
}

.product-item-2:hover .all-pros-latest {
  -webkit-animation: .5s grayBorder;
          animation: .5s grayBorder;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@-webkit-keyframes grayBorder {
  0% {
    border-color: #fff;
  }
  100% {
    border-color: #ccc;
  }
}

@keyframes grayBorder {
  0% {
    border-color: #fff;
  }
  100% {
    border-color: #ccc;
  }
}

.pagination a {
  border-radius: 3px;
  margin: 2px;
}

.pagination .active a {
  background: #973056;
  color: white;
  border-color: #ccc;
}

.display-method-3 {
  border: 1px solid #ccc;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-item-3 {
  border: 1px solid #e6e6e6;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-item-3:hover {
  background-color: #f3f3f3;
  border-color: #ccc;
}

.product-item-3 a {
  display: block;
  width: 100%;
}

.product-item-3 img {
  width: 100%;
  display: block;
}

.product-item-3 .product-title {
  display: block;
  margin-top: -15px;
  padding: 0 10px;
  font-size: 17px;
  color: #666;
  line-height: 20px;
  height: 45px;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.price-code {
  background-color: #e6dc54;
  color: #000;
  display: inline-block;
  font-weight: 700;
  min-width: 25%;
  text-align: center;
  line-height: 30px;
  opacity: .9;
  position: relative;
  top: -80px;
}

.price-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.price-stars .main-price {
  color: #973056;
}

.price-stars i.fa {
  color: 16px;
}

.price-stars span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-size: 17px;
}

.price-stars span:last-child {
  font-size: 13px;
  text-align: left;
}

.price-stars del {
  color: #666;
  font-size: 13px;
}

.product-item-3__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.cart-wish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 10px;
  margin-bottom: 15px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.cart-wish a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 18px !important;
  margin-left: 2%;
  border-color: transparet  !important;
}

.cart-wish .wish-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29%;
          flex: 0 0 29%;
  opacity: 1;
  -webkit-transform: scale(100%) !important;
          transform: scale(100%) !important;
  color: #973056 !important;
}

.cart-wish .wish-container:hover .fa {
  color: #FFF;
}

.cart-wish .cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 69%;
          flex: 0 0 69%;
}

.product-item-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

.product-item-4 .product-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
}

.product-item-4 div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.product-item-4 .wish-container a, .product-item-4 .cart-container a {
  color: #973056;
  font-size: 15px;
}

.product-item-4 .wish-container a:hover, .product-item-4 .cart-container a:hover {
  color: #5BD2C7 !important;
}
/*# sourceMappingURL=custom.css.map */