/* control panel */

body,
td,
th,
span,
div {
    font-family: Tahoma, Arial, sans-serif;
}

* {
    font-family: Tahoma, Arial, sans-serif;
}


/* right menu */

#nav-right-ul li a {
    font-weight: normal;
    font-size: 14px;
}

#right-nev a span.glyphicon {
    margin-left: 15px;
}

#nav-right-ul span.label {
    padding: 0px 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    line-height: 30px;
}

#right-nev a {
    color: #fff;
}

#nav-right-ul li ul li a {
    padding-right: 30px;
    font-size: 12px;
    border-bottom: 1px solid #222d32;
}

#right-nev a:hover {
    background-color: rgba(236, 240, 245, 0.41);
}

#right-nev a span.glyphicon {
    color: rgba(243, 243, 243, 0.70);
}

#left-header {
    background-color: #3399FF;
}

#header-right {
    background-color: #3399FF;
    height: 34px;
}

#right-nev a:hover,
#right-nev li.active a {
    border-right: 5px solid #3399ff;
    border-left: 5px solid #3399ff;
}


/* main page */

.index_buttons .btn {
    padding: 5px 15px;
}

.index_buttons .btn .glyphicon {
    margin-left: 5px;
}

.btn-primary {
    background-color: #3399ff;
    border: 0px solid #fff;
}

.btn-info {
    border: 0px solid #fff;
}

.btn-success {
    border: 0px solid #fff;
}

.btn-warning {
    border: 0px solid #fff;
}

.btn-danger {
    border: 0px solid #fff;
}

#new-messages-bar .label {
    font-size: 10px;
    padding: 1px 2px;
    top: 18px;
    right: -9px;
}


/* forms */

input[type=text].form-control,
input[type=file].form-control,
input[type=date].form-control,
select.form-control,
textarea.form-control {
    border: 2px solid #ddd;
    ;
    border-bottom: 2px solid #ddd;
    ;
}

input[type=text].form-control:hover,
input[type=text].form-control:focus,
input[type=file].form-control:hover,
input[type=file].form-control:focus,
input[type=date].form-control:hover,
input[type=date].form-control:focus,
select.form-control:hover,
select.form-control:focus,
textarea.form-control:hover,
textarea.form-control:focus {
    border: 1px solid #5b9dd9;
    ;
    border-bottom: 1px solid #5b9dd9;
    ;
    box-shadow: 0 0 2px rgba(30, 140, 190, .8);
}

.has-error .form-control {
    box-shadow: 0 0 2px rgba(169, 68, 66, 0.4);
}

.dropdown-menu>li>a {
    padding: 10px 20px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #ffffff;
    background-color: #3399ff;
}


/* login page */

#login-panel .panel {
    border: 1px solid rgba(228, 228, 228, 0.8);
    border-radius: 0;
    margin: 15px auto;
    max-width: 400px;
    box-shadow: 1px 1px 10px #ccc;
}

#login-panel .panel .panel-heading,
#login-panel .panel .panel-footer {
    background-color: rgba(250, 250, 250, 0.8);
    border-bottom: 1px solid rgba(228, 228, 228, 0.8);
}

.horus-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #21303a;
    font-weight: bold;
    color: #d8401c;
    color: #fff;
    opacity: 0.8;
    padding: 5px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: ltr;
    a {
        color: #f4cd00;
    }
    .text-white {
        a {
            color: #fff;
            font-weight: bold;
            margin-left: 15px;
        }
    }
}